# Basic Delegate Envs
ACCOUNT_ID=""
DELEGATE_TOKEN=""
DELEGATE_IMAGE=""
MANAGER_ENDPOINT=""
NAMESPACE=""

# Proxy Credentials
PROXY_HOST=""
PROXY_PORT=""
PROXY_SCHEME=""
PROXY_USER=""
PROXY_PASSWORD=""
NO_PROXY=""
