# Kube Config Path 
KUBE_CONFIG_PATH="~/.kube/config"

# Basic Delegate Envs
ACCOUNT_ID=""
DELEGATE_TOKEN=""
DELEGATE_IMAGE=""
MANAGER_ENDPOINT=""
NAMESPACE=""

# Proxy Credentials
PROXY_HOST=""
PROXY_PORT=""
PROXY_SCHEME=""
PROXY_USER=""
PROXY_PASSWORD=""
NO_PROXY=""

#mTLS secret
MTLS_ACCOUNT_ID=""
MTLS_DELEGATE_TOKEN=""
MTLS_MANAGER_ENDPOINT=""
MTLS_NAMESPACE=""
MTLS_SECRET_NAME=""
